################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PinHLL/FileContentIndex
/.vs
/Lab1/.vs/Lab1
